*::after,
*::before,
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   list-style-type: none;
   cursor: default;
   // -webkit-touch-callout: none;
   // -webkit-user-select: none; 
   //   -khtml-user-select: none; 
   //     -moz-user-select: none; 
   //      -ms-user-select: none; 
   //          user-select: none; 

}


img {
   min-height: 100%;
   cursor: default;
}

a {
   cursor: pointer;
   text-decoration: none;
}

body,
html {
   cursor: default;
   font-family: sans-serif;
}