.nav {
    max-width: 100%;
    height: 56px;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 56px;
    height: 56px;
    z-index: 99;
}

.logo:hover {
    transform: scale(1.1);
    transition: all 0.25s ease;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul-li a {
    font-size: 18px;
    color: #222222;
    line-height: 24px;
    position: relative;
}

.nav-ul-li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #09A66D;
    transform-origin: bottom left;
    transition: transform 0.1s ease-out;
}

.nav-ul-li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-ul-li:nth-child(-n+3) {
    margin-right: 40px;
}

// NAV RAGHT SIDE

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;



    a {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #F3FBF8;
        border-radius: 50%;
        position: relative;
        margin-right: 20px;

        i {
            color: #222222;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }

    a:hover {
        background-color: #c8fbe9;
        transition: all 0.2s ease;
    }

    .nav-cart span {
        position: absolute;
        display: block;
        width: 6px;
        height: 6px;
        background: #09A66D;
        border-radius: 50%;
        top: 7px;
        right: 15px;
    }

    button {
        color: #fff;
        cursor: pointer;
        margin-left: 12px;
        padding: 10px 23px;
        background: #09A66D;
        border-radius: 8px;
        border: #09A66D;
    }

    button:hover {
        background: #09e695;
        transition: all 0.25s ease-out;
    }

    button:active {
        background: #056642;
        transition: all 0.1s ease-out;
    }
}